body{
    width: 100%;
    height: 100%;
    background: #292727;
}
#profile, #logout{
    display: none;
}
#splash-banner img{
    width: 100%;
    height:100vh;
}
.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.carousel img{
    height: 80vh;
    width: 100vw;
}

#testImg img{
    width: 95%;
    margin: 2.5% 5%;
}

#topGames img{
    width: 100%;
    height: 50vh;
}