#article-icon h4{
    align-items: center;
}
#article-icon p{
    /* margin-bottom: -15px; */
}
#ad-banner{
    width: 80%;
    margin-left: 10%;
    height: 14vh;
    background-color: #000;
    color: #fff;
    /* margin-bottom: -14vh; */
    z-index: 11;
    padding-bottom: -84vh;
}




#screen{
    margin-bottom: -14vh;
    width: 100%;
    height: 100vh;
}
body{
    overflow-x: hidden;
}
#article-icon button{
    width: 22%;
    color: white;
}






#articles-section h3{
    text-align: center;
}
#articles-section button{
    width: 49.9%;
    height: 40px;
}
#articles-section img{
    height: 220px;
    width: 100%;
    margin-bottom: 80px;
}


section{
    margin: 50px 0;
    position: relative;
}
#articleContainer{
    position: relative;
}
#voteYes{
    position: absolute;
    top: 0;
    width: 35%;
    height: 40%;
    float: left;
    background-color: skyblue;
}
#voteNo{
    position: absolute;
    top: 0;
    width: 35%;
    height: 40%;
    float: right;
    background-color: orangered;
}
#displayImg{
    height: 220px;
    width: 100%;

}
#articleTitle{
    font-size: 23px;
}
